

<div class="container mt-5">
    <h5 class="text-center bg-dark text-light p-2"> Unable to request Game Data Due to excessive request this month :(</h5>
   <h6 class="text-center"> <small>Come back next month</small></h6>
   <h6 class="text-center"> <small>Thanks for taking the time to visit my website and sorry for the inconvenience</small></h6>

   <div class="otherProjects mt-5">
       <h6 class="bg-dark text-light p-2 font-weight-light shadow">My portfolio has other projects, if you wish to visit them :)</h6>
        <small class="d-block mt-4 mb-4">Portfolio: <span class="bg-warning  p-2 ">Portfolio Under Maintenance</span></small>
        <small class="d-block">Github: <a href="https://github.com/AaronDasani?tab=repositories">https://github.com/AaronDasani?tab=repositories</a> </small>
   </div>
</div>