@model LogAndRegUserBundle
<header class="masthead mb-auto">
        <div class="inner">
            <div class="row">
                <h3 class="masthead-brand text-light col-4"><a href="~/">GameRaterzz</a></h3>
                <nav class="col-8 text-right">
                    <a class="navigation" href="#">Registration</a>
                    <a class="navigation" href="#">Login</a>
                    <a class="navigation " href="#">Contact</a>
                </nav>
            </div>
            
        </div>
</header>
<div class="helperTag">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
        <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
        <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
        <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
    
    </svg>
    <div>
        <small class=" font-weight-light">
            <span class="notification">Can Go Back To Homepage</span>  
        </small>
    </div>
</div>

<div class="text-light p-3 pb-5 background">
    <div class="container mt-4">
        <div class="row">
            <div class="col-6 mr-5">
                <h4 class="text-center mt-5">Register to GameRaterzz</h4>
                <hr>
                
                <div class="form">
                    <form action="registration_process" method="post" class="mt-3">
                        <div class="form-group">
                            <label asp-for="register_user.firstname"></label>
                            <input asp-for="register_user.firstname" class="form-control">
                            <small class="d-block"><span asp-validation-for="register_user.firstname" class="text-danger font-weight-bold"></span></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="register_user.lastname"></label>
                            <input asp-for="register_user.lastname"  class="form-control"> 
                            <small class="d-block"><span asp-validation-for="register_user.lastname" class="text-danger font-weight-bold"></span></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="register_user.email"></label>
                            <input asp-for="register_user.email"  class="form-control">
                            <small class="d-block"><span asp-validation-for="register_user.email" class="text-danger font-weight-bold"></span></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="register_user.password"></label>
                            <input asp-for="register_user.password" class="form-control">
                            <small class="d-block"><span asp-validation-for="register_user.password" class="text-danger font-weight-bold"></span></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="register_user.confirmPassword"></label>
                            <input asp-for="register_user.confirmPassword" class="form-control">
                            <small class="d-block"><span asp-validation-for="register_user.confirmPassword" class="text-danger font-weight-bold"></span></small>
                        </div>
                        
                        <button type="submit" class="btn btn-dark d-block col-12">Register</button>
                        
                    </form>
                    
                </div>
            </div>
            <div class="col-4 ml-5">
                <div class="loginForm">
                    <h4 class="text-center mt-5">Login to GameRaterzz</h4>
                    <hr>
                    <form action="login_process" method="post" class="mt-3">
                        
                        <div class="form-group">
                            <label asp-for="login_user.LoginEmail"></label>
                            <input asp-for="login_user.LoginEmail"  class="form-control">
                            <small class="d-block"><span asp-validation-for="login_user.LoginEmail" class="text-danger font-weight-bold"></span></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="login_user.LoginPassword"></label>
                            <input asp-for="login_user.LoginPassword" class="form-control">
                            <small class="d-block"><span asp-validation-for="login_user.LoginPassword" class="text-danger font-weight-bold"></span></small>
                        </div>
                        <button type="submit" class="btn btn-dark d-block col-12">Login</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
        
     
</div>
<!-- FOOTER -->
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018-2020 MAAD</p>
    <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>
